<?xml version="1.0" ?>
<robot name="kr150_main" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="camera" default="false"/>
  <xacro:arg name="gripper_2f" default="false"/>
  <xacro:arg name="camera_arm" default="false"/>

   <xacro:include filename="$(find kr150_gazebo)/urdf/gazebo.xacro"/>

  <!-- camera -->
  <xacro:if value="$(arg camera)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/camera.xacro"/>
  </xacro:if>
  <!-- gripper -->
  <xacro:if value="$(arg gripper_2f)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/gazebo_2f.xacro"/>
  </xacro:if>
  <!-- camera_arm -->
  <xacro:if value="$(arg camera_arm)">
    <xacro:include filename="$(find kr150_gazebo)/urdf/camera_arm.xacro"/>
  </xacro:if>
</robot>