<?xml version="1.0"?>
<launch>
  <arg name="gripper_2f" default="false"/>
  <!-- load the joint state controller -->
  <rosparam file="$(find kr150_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- load the arm controller -->
  <rosparam file="$(find kr150_gazebo)/config/kr150_arm_controller.yaml" command="load" />
  <node name="kuka_kr150_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

  <group if="$(arg gripper_2f)">

  <!-- load the gripper controller -->
  <rosparam file="$(find kr150_gazebo)/config/gripper_controller_robotiq.yaml"/>
  <node name="Gripper_Spawner" pkg="controller_manager" type="spawner" args="gripper"/>

  </group>

    
</launch>